@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}
/* navbar start  */

.navbar {
	width: 100%;
	margin: 0 auto;
}
.navbar__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
	width: 84.7%;
	margin: 0 0 0 8vw;
	/* margin-left: 10px; */
}

.navbar__logo {
	/* margin-left: 47px; */
	font-size: 28px;
	font-weight: 700;
	line-height: 150%;
}

.navbar__content-right {
	width: 76.1%;
	height: 24px;
	display: flex;
	justify-content: space-between;
}

.navbar__item__line {
	border: 0.5px solid #e8e8e8;
	/* transform: rotate(90deg); */
	/* width: 0; */
	height: 20px;
}

.navbar__list {
	display: flex;
	list-style-type: none;
	width: 325px;
	justify-content: space-between;
	font-size: 14px;
	line-height: 17px;
	align-items: center;
}

.navbar__item {
	cursor: pointer;
}

.navbar__item:hover {
	color: #3b23b2;
}

.navbar__item-arrow {
	margin-left: 0.12em;
}

.navbar__lang {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 112px;
}
.navbar__flag {
	width: 67px;
	margin-left: 0.7vw;
}
.flag {
	width: 24px;
	height: 18px;
}
.flag:hover {
	outline: 3px solid #e4f2ff;
	border-radius: 6px;
}
.navbar__text {
	font-size: 14px;
}

/* navbar end  */

/* burger menu start  */
/* .burger-menu__icon {
	display: none;
}
.burger-menu {
	position: absolute;
	right: 10px;
	width: 20vw;
	background-color: #e8e8e8;
}

.burger-menu__close {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
} */

/* :root {
	--primColor: #dcdcdc;
	--secoColor: #555555;
	--cornerRad: 4px;
} */

details {
	position: absolute;
	right: 30px;
	display: none;
}
summary {
	writing-mode: vertical-lr;
	text-align: center;
	/* padding: 12px 10px; */
	width: 23px;
	height: 17px;
	background-color: var(--primColor);
	border: 2px solid var(--secoColor);
	border-radius: var(--cornerRad);
	color: var(--secoColor);
	cursor: pointer;
	user-select: none;
	outline: none;
	/* transition: transform 200ms ease-in-out 0s; */
	margin-left: 100px;
}
summary::before,
summary::after {
	position: static;
	top: 0;
	left: 0;
}
summary::before {
	content: '';
}
summary::after {
	content: 'III';

	font-size: 27px;
	margin-top: 1px;
}
/* summary:hover {
	transform: scale(1.1);
} */
summary::marker {
	font-size: 0;
}
summary::-webkit-details-marker {
	display: none;
}
details[open] .menu {
	animation-name: menuAnim;
}
details[open] summary::before {
	content: 'x';
	position: absolute;
	left: 160px;
	font-size: 38px;
	margin-top: 3px;
}
details[open] summary::after {
	content: '';
}
.menu {
	height: 0;
	width: fit-content;
	border-radius: var(--cornerRad);
	background-color: white;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* overflow: hidden; */
	animation: closeMenu 300ms ease-in-out forwards;
}
.menu a {
	padding: 12px 24px;
	margin: 0 16px;
	color: var(--secoColor);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	text-decoration: none;
	text-align: center;
	transition: filter 200ms linear 0s;
}
.menu a:nth-of-type(1) {
	padding-top: 24px;
}
.menu a:nth-last-of-type(1) {
	border-bottom: none;
}
.menu a:hover {
	filter: brightness(200%);
}
/* details::before {
	content: 'â† Click This Button';
	color: var(--secoColor);
	position: absolute;
	margin-left: 80px;
	padding: 10px 10px;
	opacity: 0.4;
}
details[open]::before {
	animation: fadeMe 300ms linear forwards;
} */
@keyframes menuAnim {
	0% {
		height: 0;
	}
	100% {
		height: 170px;
	}
}
@keyframes fadeMe {
	0% {
		opacity: 0.4;
	}
	100% {
		opacity: 0;
	}
}

/* burger menu end */

/* header start  */
.header {
	position: relative;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	height: 41.57vw;
}

.header__background {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

.header__inner {
	margin: 0 2.34vw;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header__content {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
	width: 85%;
}

.header__content-left {
	/* width: 343px;
	height: 176px; */
	margin-left: 2.75vw;
	margin-top: 4.8vw;
	height: 12.6vw;
}

.header__title {
	font-weight: 700;
	font-size: 28px;
	color: white;
	margin-bottom: 2vw;
}

.header__text {
	font-size: 14px;
	color: white;
	margin-bottom: 4.7vw;
}

.header__btn {
	width: 198px;
	height: 40px;
	padding: 0.8vw 2.9vw;
	border: 1px solid #ffffff;
	background: none;
	color: white;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	transition: 0.4s;
	cursor: pointer;
}

.header__btn:hover {
	background-color: white;
	color: black;
	transition: 0.4s;
}

.header__btn__text {
	color: white;
}

/* .header__content-right {
	margin-top: 10.2vw;
} */

.header__arrow {
	margin-top: 1.3vw;
	cursor: pointer;
}

.header__radio {
	position: absolute;

	bottom: 27px;
	left: 45%;
}

.header__radio__list {
	width: 136px;
	display: flex;
	justify-content: space-between;
}
.header__radio__list > input[type='radio'] {
	position: relative;
	width: 10px;
	cursor: pointer;
}

.header__radio__list > input[type='radio']::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 2px solid rgba(184, 184, 184, 0.45);
}

.header__radio__list > input[type='radio']:checked::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #0f2a59;
	transform: translate(-50%, -50%);
	visibility: visible;
}

.header__img {
	width: 47vw;
	height: 31.41vw;
	margin-top: 10.01vw;
	z-index: -1;
}

/* header end  */

/* container start  */

.container {
	width: 85.5%;
	margin: 0 auto;
}

.container-info {
	display: flex;
	justify-content: space-between;
	margin-top: 2.35vw;
}

.container-section {
	width: 31.5%;
	height: 127px;
	position: relative;
	background: #f8f8f8;
	/* padding: 16px; */
	z-index: 1;
}

.container-section__line {
	background: #0f2a59;
	height: 100%;
	width: 5px;
	position: absolute;
}

.container-section:hover .container-section__line {
	background-color: #ebebeb;
}
.container-section__icon {
	position: absolute;
	right: 17px;
	bottom: 9.3%;
	z-index: -1;
	/* width: 7.5vw; */
}

.container-section__text {
	margin-top: 1.37vw;
	margin-left: 1.46vw;
	z-index: 2;
}

.container-section__text-big {
	font-size: 16px;
	padding-right: 10px;
	margin-bottom: 0.45vw;
}

.container-section__text-small {
	font-size: 14px;
	padding-right: 10px;
	line-height: 150%;
}

.container__text_black {
	font-weight: 700;
	color: #181818;
}

/* content start  */
.content {
	margin-top: 8vw;
}

.content__title {
	font-weight: 700;
	font-size: 28px;
	width: 460px;
	line-height: 125%;
}

.content-info {
	margin-top: 1.63vw;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 5.24vw;
}

.content-info__block-left {
	background: url(../img/Rectangle184.jpg) no-repeat;
	background-size: 100% 100%;
	/* background-repeat: no-repeat; */
	width: 41.59vw;
	height: 28vw;
	display: flex;
	align-items: flex-end;
	padding: 0 0 1.7vw 1.75vw;
	/* margin-right: 1vw; */
	transition: 0.4s;
}
.content-info__block-left:hover {
	transform: scale(1.05);
	transition: 0.4s;
}

.content-info__block-left__text {
	width: 34vw;
	color: white;
}

.content-info__block-left__text-info {
	font-weight: 700;
	font-size: 20px;
	line-height: 125%;
}

.content-info__block-left__text-date {
	margin-bottom: 0.4vw;
	font-size: 14px;
}

.content-info__block-item {
	background-repeat: no-repeat;
	/* width: 268px;
	height: 181px; */
	width: 19.6vw;
	height: 13.3vw;
	display: flex;
	align-items: flex-end;
	padding: 10px;
	background-size: 100% 100%;
	transition: 0.4s;
}
.content-info__block-item:hover {
	transform: scale(1.05);
	transition: 0.4s;
}

.content-info__block-right {
	width: 41.59vw;
	height: 28vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.content-info__image1 {
	background-image: url(../img/Rectangle185.png);
}
.content-info__image2 {
	background-image: url(../img/Rectangle187.png);
}
.content-info__image3 {
	background-image: url(../img/Rectangle186.png);
}
.content-info__image4 {
	background-image: url(../img/Rectangle188.png);
}

.content-info__block-item__text-date {
	color: white;
	font-size: 11px;
	line-height: 125%;
	margin-bottom: 0.3vw;
}

.content-info__block-item__text-info {
	color: white;
	font-weight: 700;
	font-size: 13px;
	line-height: 140%;
}

/* content end  */

/* about us start  */
.about-us {
	width: 100%;
}

.about-us__item {
	width: 100%;
	height: 480px;
	background-repeat: no-repeat;
	background-color: #fafafacc;
	margin-top: 3.512vw;
	display: flex;
	align-items: center;
	padding: 0 64px;
}

.about-us__item:nth-child(1) {
	background-image: url(../img/Rectangle213.png);
	justify-content: flex-end;
}
.about-us__item:nth-child(2) {
	background-image: url(../img/Rectangle214.png);
	background-position: 100%;
}
.about-us__item:nth-child(3) {
	background-image: url(../img/Rectangle215.png);
	justify-content: flex-end;
	align-items: flex-start;
	padding: 47px 44px;
}

.about-us__item__block {
	width: 540px;
	height: 365px;
	background-color: #ffffff;
	padding: 48px;
	transition: 0.4s;
}

.about-us__item__block:hover {
	transform: scale(1.05);
	transition: 0.4s;
}

.about-us__item__block2 {
	width: 540px;
	height: 384px;
	background-color: #ffffff;
	padding: 48px;
}

.about-us__item__title {
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
	color: #181818;
	margin-bottom: 0.79vw;
	width: 80%;
}

.about-us__item__text {
	font-size: 14px;
	line-height: 142%;
	color: #b6b6b6;
}

.br {
	width: 50px;
}

.about-us__item__btn {
	margin-top: 1.5vw;
	width: 260px;
	height: 40px;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	border: 1px solid #0f2a59;
	background-color: white;
	transition: 0.4s;
}

.about-us__item__btn:hover {
	background-color: black;
	color: white;
	transition: 0.4s;
}
/* about us end  */
/* container end  */

/* footer start  */
footer {
	width: 100%;
	background: #181818;
	margin-top: 5.86vw;
}

.footer-info {
	/* padding: 56px 98px 31px 99px; */
	width: 85.5%;
	margin: 0 auto;
	padding: 56px 0 31px;
	display: flex;
	justify-content: space-between;
}

.footer-info__contacts__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: white;
	margin-bottom: 1.5vw;
}

.footer-info__contacts__number-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 86px;
	color: white;
}

.footer-info__contacts__number-item__text {
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: white;
	letter-spacing: 0.02em;
}

.footer-info__contacts__number-item {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 168px;
}

.footer-info__contacts__line {
	margin: 19px 0;
	width: 200px;
	border: 0.5px solid #262626;
}

.footer-info__contacts__line_2 {
	width: 200px;
	border: 0.5px solid #262626;
	margin-top: 4px;
}

.footer-info__contacts__social-list {
	height: 100px;
}

.footer-info__contacts__social-item {
	display: flex;
	justify-content: space-between;
	width: 96.6px;
	margin-top: 21px;
	letter-spacing: 0;
}

.footer-info__contacts__social-item:nth-child(2) {
	margin-top: 17px;
}

.footer-info__contacts__social-item:nth-child(3) {
	margin-top: 14px;
	width: 85px;
}

.footer-info__contacts__social-item__text {
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: white;
}

.footer-info__location {
	display: flex;
	justify-content: space-between;
	width: 143px;
	margin-top: 24px;
}

.footer-info__location > img {
	margin-top: -5px;
}

.footer-info__location__text {
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: white;
}

.map {
	width: 63.6vw;
	margin-left: 2vw;
	height: 343px;
}

.remotion {
	width: 100%;
	display: flex;
	justify-content: center;
	color: white;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	height: 48px;
	align-items: center;
}
/* footer end  */

/* container second start  */

.container-second {
	width: 78%;
	padding: 0 7.25vw;
	margin-top: 2.3vw;
	margin-bottom: 6.8vw;
}

.container-second__title {
	font-weight: 700;
	font-size: 32px;
	line-height: 140%;
	color: #181818;
	margin-bottom: 1.25vw;
}

.container-second__text {
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
}
/* container second end  */
